<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penghaisoft.pda.storage.dao.WmsSendLogMapper" >
  <resultMap id="BaseResultMap" type="com.penghaisoft.pda.storage.model.WmsSendLog" >
    <id column="send_id" property="sendId" jdbcType="VARCHAR" />
    <result column="send_no" property="sendNo" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="has_box_code" property="hasBoxCode" jdbcType="CHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="send_amount" property="sendAmount" jdbcType="INTEGER" />
    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
    <result column="user_defined1" property="userDefined1" jdbcType="VARCHAR" />
    <result column="user_defined2" property="userDefined2" jdbcType="VARCHAR" />
    <result column="user_defined3" property="userDefined3" jdbcType="VARCHAR" />
    <result column="user_defined4" property="userDefined4" jdbcType="VARCHAR" />
    <result column="user_defined5" property="userDefined5" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="active_flag" property="activeFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    send_id, send_no, goods_code, has_box_code, goods_name, send_amount, warehouse_code, 
    user_defined1, user_defined2, user_defined3, user_defined4, user_defined5, create_by, 
    gmt_create, last_modified_by, gmt_modified, active_flag
  </sql>
  <insert id="insert" parameterType="com.penghaisoft.pda.storage.model.WmsSendLog" >
    insert into wms_send_log (send_id, send_no, goods_code, 
      has_box_code, goods_name, send_amount, 
      warehouse_code, user_defined1, user_defined2, 
      user_defined3, user_defined4, user_defined5, 
      create_by, gmt_create, last_modified_by, 
      gmt_modified, active_flag)
    values (#{sendId,jdbcType=VARCHAR}, #{sendNo,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, 
      #{hasBoxCode,jdbcType=CHAR}, #{goodsName,jdbcType=VARCHAR}, #{sendAmount,jdbcType=INTEGER}, 
      #{warehouseCode,jdbcType=VARCHAR}, #{userDefined1,jdbcType=VARCHAR}, #{userDefined2,jdbcType=VARCHAR}, 
      #{userDefined3,jdbcType=VARCHAR}, #{userDefined4,jdbcType=VARCHAR}, #{userDefined5,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{lastModifiedBy,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{activeFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.penghaisoft.pda.storage.model.WmsSendLog" >
    insert into wms_send_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sendId != null" >
        send_id,
      </if>
      <if test="sendNo != null" >
        send_no,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="hasBoxCode != null" >
        has_box_code,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="sendAmount != null" >
        send_amount,
      </if>
      <if test="warehouseCode != null" >
        warehouse_code,
      </if>
      <if test="userDefined1 != null" >
        user_defined1,
      </if>
      <if test="userDefined2 != null" >
        user_defined2,
      </if>
      <if test="userDefined3 != null" >
        user_defined3,
      </if>
      <if test="userDefined4 != null" >
        user_defined4,
      </if>
      <if test="userDefined5 != null" >
        user_defined5,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="activeFlag != null" >
        active_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sendId != null" >
        #{sendId,jdbcType=VARCHAR},
      </if>
      <if test="sendNo != null" >
        #{sendNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="hasBoxCode != null" >
        #{hasBoxCode,jdbcType=CHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="sendAmount != null" >
        #{sendAmount,jdbcType=INTEGER},
      </if>
      <if test="warehouseCode != null" >
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="userDefined1 != null" >
        #{userDefined1,jdbcType=VARCHAR},
      </if>
      <if test="userDefined2 != null" >
        #{userDefined2,jdbcType=VARCHAR},
      </if>
      <if test="userDefined3 != null" >
        #{userDefined3,jdbcType=VARCHAR},
      </if>
      <if test="userDefined4 != null" >
        #{userDefined4,jdbcType=VARCHAR},
      </if>
      <if test="userDefined5 != null" >
        #{userDefined5,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="activeFlag != null" >
        #{activeFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

</mapper>