<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.penghaisoft.pda.basic.dao.WmsPlaneLocationMapper" >
  <resultMap id="BaseResultMap" type="com.penghaisoft.pda.basic.model.WmsPlaneLocation" >
    <id column="location_id" property="locationId" jdbcType="INTEGER" />
    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="location_code" property="locationCode" jdbcType="VARCHAR" />
    <result column="location_name" property="locationName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="user_defined1" property="userDefined1" jdbcType="VARCHAR" />
    <result column="user_defined2" property="userDefined2" jdbcType="VARCHAR" />
    <result column="user_defined3" property="userDefined3" jdbcType="VARCHAR" />
    <result column="user_defined4" property="userDefined4" jdbcType="VARCHAR" />
    <result column="user_defined5" property="userDefined5" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="active_flag" property="activeFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    location_id, warehouse_code, area_code, location_code, location_name, remark, user_defined1, 
    user_defined2, user_defined3, user_defined4, user_defined5, create_by, gmt_create, 
    last_modified_by, gmt_modified, active_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wms_plane_location
    where location_id = #{locationId,jdbcType=INTEGER}
  </select>

  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from wms_plane_location
    where location_code = #{locationCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wms_plane_location
    where location_id = #{locationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.penghaisoft.pda.basic.model.WmsPlaneLocation" >
    insert into wms_plane_location (location_id, warehouse_code, area_code, 
      location_code, location_name, remark, 
      user_defined1, user_defined2, user_defined3, 
      user_defined4, user_defined5, create_by, 
      gmt_create, last_modified_by, gmt_modified, 
      active_flag)
    values (#{locationId,jdbcType=INTEGER}, #{warehouseCode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{locationCode,jdbcType=VARCHAR}, #{locationName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{userDefined1,jdbcType=VARCHAR}, #{userDefined2,jdbcType=VARCHAR}, #{userDefined3,jdbcType=VARCHAR}, 
      #{userDefined4,jdbcType=VARCHAR}, #{userDefined5,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{lastModifiedBy,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{activeFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.penghaisoft.pda.basic.model.WmsPlaneLocation" >
    insert into wms_plane_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="locationId != null" >
        location_id,
      </if>
      <if test="warehouseCode != null" >
        warehouse_code,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="locationCode != null" >
        location_code,
      </if>
      <if test="locationName != null" >
        location_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="userDefined1 != null" >
        user_defined1,
      </if>
      <if test="userDefined2 != null" >
        user_defined2,
      </if>
      <if test="userDefined3 != null" >
        user_defined3,
      </if>
      <if test="userDefined4 != null" >
        user_defined4,
      </if>
      <if test="userDefined5 != null" >
        user_defined5,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="activeFlag != null" >
        active_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="locationId != null" >
        #{locationId,jdbcType=INTEGER},
      </if>
      <if test="warehouseCode != null" >
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="locationCode != null" >
        #{locationCode,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null" >
        #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userDefined1 != null" >
        #{userDefined1,jdbcType=VARCHAR},
      </if>
      <if test="userDefined2 != null" >
        #{userDefined2,jdbcType=VARCHAR},
      </if>
      <if test="userDefined3 != null" >
        #{userDefined3,jdbcType=VARCHAR},
      </if>
      <if test="userDefined4 != null" >
        #{userDefined4,jdbcType=VARCHAR},
      </if>
      <if test="userDefined5 != null" >
        #{userDefined5,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="activeFlag != null" >
        #{activeFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.penghaisoft.pda.basic.model.WmsPlaneLocation" >
    update wms_plane_location
    <set >
      <if test="warehouseCode != null" >
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="locationCode != null" >
        location_code = #{locationCode,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null" >
        location_name = #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="userDefined1 != null" >
        user_defined1 = #{userDefined1,jdbcType=VARCHAR},
      </if>
      <if test="userDefined2 != null" >
        user_defined2 = #{userDefined2,jdbcType=VARCHAR},
      </if>
      <if test="userDefined3 != null" >
        user_defined3 = #{userDefined3,jdbcType=VARCHAR},
      </if>
      <if test="userDefined4 != null" >
        user_defined4 = #{userDefined4,jdbcType=VARCHAR},
      </if>
      <if test="userDefined5 != null" >
        user_defined5 = #{userDefined5,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="activeFlag != null" >
        active_flag = #{activeFlag,jdbcType=CHAR},
      </if>
    </set>
    where location_id = #{locationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penghaisoft.pda.basic.model.WmsPlaneLocation" >
    update wms_plane_location
    set warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      location_code = #{locationCode,jdbcType=VARCHAR},
      location_name = #{locationName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      user_defined1 = #{userDefined1,jdbcType=VARCHAR},
      user_defined2 = #{userDefined2,jdbcType=VARCHAR},
      user_defined3 = #{userDefined3,jdbcType=VARCHAR},
      user_defined4 = #{userDefined4,jdbcType=VARCHAR},
      user_defined5 = #{userDefined5,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      active_flag = #{activeFlag,jdbcType=CHAR}
    where location_id = #{locationId,jdbcType=INTEGER}
  </update>
</mapper>